In [5]:
import pandas as pd
import numpy as np

In [9]:
df = pd.DataFrame(np.random.randn(10,3))

df.iloc[3:5,0] = np.nan

df.iloc[4:6,1] = np.nan

df.iloc[5:8,2] = np.nan

df

          0         1         2
0 -0.413498 -2.154938 -1.901020
1 -0.091128  1.573214  1.098065
2  0.937267 -0.454922  1.812877
3       NaN  1.794802 -0.121379
4       NaN       NaN  0.602109
5 -1.891111       NaN       NaN
6 -0.516929 -2.328107       NaN
7 -0.185106  0.232273       NaN
8 -1.541016  1.465174  1.098540
9 -0.223833 -1.621259 -0.989118

In [11]:
df.mean()

0   -0.490669
1   -0.186721
2    0.228582
dtype: float64

#fillna function is used to fill the null values. dropna is used to drop the null values. Here we use fillna to fill the null values with mean.

In [7]:
df.apply(lambda x: x.fillna(x.mean()),axis=0)

          0         1         2
0 -0.312488 -0.298071 -1.463184
1  0.726502 -1.643384 -0.569508
2 -0.906170 -0.260328 -1.566955
3  0.003493 -0.083098  0.212378
4  0.003493 -0.298828  0.723177
5 -0.324377 -0.298828 -0.609532
6 -0.056981  0.856754 -0.609532
7 -0.783112  0.164668 -0.609532
8  2.323364  0.549774 -1.676088
9 -0.638796 -1.676936  0.073454